<ActionBar [title]="title">
</ActionBar>
<TabView #tabView class="tab-view" (selectedIndexChanged)="onSelectedIndexChanged($event)">
  <StackLayout *tabItem="{title:'Inbox', iconSource:'res://icon-inbox'}">
      <!-- <app-inbox></app-inbox> -->
  </StackLayout>

  <GridLayout *tabItem="{title:'Outbox', iconSource:'res://icon-inbox'}"></GridLayout>

  <GridLayout *tabItem="{title:'Contact', iconSource:'res://icon-user'}">
      <router-outlet name="contact-outlet"></router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{title:'Settings', iconSource:'res://icon-user'}">
      <router-outlet name="setting-outlet"></router-outlet>
  </GridLayout>
</TabView>
