@import '~/nativescript-theme-core/css/core.light.css';
@import url("./platform.css");

Page {
  font-size: 15;
}
.list-page {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
TextField {
  padding: 10;
  font-size: 13;
}
.line-through {
  text-decoration: line-through;
}
.btn-icon-30 {
  font-family: "FontAwesome";
  font-size: 30;
}
.btn-icon-20 {
  font-family: "FontAwesome";
  font-size: 20;
}
.btn-icon-18 {
  font-family: "FontAwesome";
  font-size: 18;
}
.btn-icon-16 {
  font-family: "FontAwesome";
  font-size: 16;
}
.btn-icon-13 {
  font-family: "FontAwesome";
  font-size: 13;
}

