<ActionBar title="Add Friend">
</ActionBar>
<tx-tabview-container selectedTab="contacts">
	<StackLayout tab="contacts">
		<StackLayout>
				<SearchBar hint="Search for a friend" (clear)="onClear($event)" (textChange)="onTextChange($event)"></SearchBar>
		</StackLayout>
		<ListView  *ngIf="showSearchResult" [items]="searchResults">
			<ng-template let-contact="item" let-index="index">
				<StackLayout>
					<GridLayout rows="auto" columns="auto * auto" class="list-item">
						<Image row="0" col="0" *ngIf="contact.user.thumbnail" [src]="contact.user.thumbnail" class="thumbnail"></Image>
						<Label row="0" col="0" *ngIf="!contact.user.thumbnail" text="&#xf2be;" class="fa thumbnail-awesome"></Label>
						<GridLayout row="0" col="1" rows="20 18" columns="auto" class="list-item">
							<Label row="0" col="0" [text]="contact.user.name" class="contact-name font-weight-bold"></Label>
							<Label row="1" col="0" text="description for user" class="contact-description"></Label>
						</GridLayout>
						<Button row="0" col="2" text="invite" (tap)="onInviteFriend($event,contact)" class="btn btn-primary btn-rounded-sm btn-small"></Button>
					</GridLayout>
				</StackLayout>
			</ng-template>
		</ListView>
		<StackLayout ng-show="!showSearchResult">
			<ListView [items]="pendings | async">
				<ng-template let-contact="item" let-index="index">
					<StackLayout>
						<GridLayout rows="auto" columns="auto * auto" class="list-item">
							<Image row="0" col="0" *ngIf="contact.user.thumbnail" [src]="contact.owner.thumbnail" class="thumbnail"></Image>
							<Label row="0" col="0" *ngIf="!contact.user.thumbnail" text="&#xf2be;" class="fa thumbnail-awesome"></Label>
							<GridLayout row="0" col="1" rows="20 18" columns="auto" class="list-item">
								<Label row="0" col="0" [text]="contact.user.name" class="contact-name font-weight-bold"></Label>
								<Label row="1" col="0" text="waiting for approve" class="contact-description"></Label>
							</GridLayout>
							<Button row="0" col="2" text="confirm" (tap)="onConfirmFriend($event,contact)" class="btn btn-primary btn-rounded-sm btn-small"></Button>
						</GridLayout>
					</StackLayout>
				</ng-template>
			</ListView>
		</StackLayout>
		<StackLayout ng-show="!showSearchResult">
			<ListView [items]="invitedContacts | async">
				<ng-template let-contact="item" let-index="index">
					<StackLayout>
						<GridLayout rows="auto" columns="auto * auto" class="list-item">
							<Image row="0" col="0" *ngIf="contact.user.thumbnail" [src]="contact.owner.thumbnail" class="thumbnail"></Image>
							<Label row="0" col="0" *ngIf="!contact.user.thumbnail" text="&#xf2be;" class="fa thumbnail-awesome"></Label>
							<GridLayout row="0" col="1" rows="20 18" columns="auto" class="list-item">
								<Label row="0" col="0" [text]="contact.user.name" class="contact-name font-weight-bold"></Label>
								<Label row="1" col="0" text="invited already!" class="contact-description"></Label>
							</GridLayout>
							<Button row="0" col="2" text="invited" disabled="disabled" class="btn btn-primary btn-rounded-sm btn-small"></Button>
						</GridLayout>
					</StackLayout>
				</ng-template>
			</ListView>
		</StackLayout>
	</StackLayout>
</tx-tabview-container>
		

