<ActionBar title="Add Group">
</ActionBar>
<tx-tabview-container selectedTab="contacts">
	<StackLayout tab="contacts">
		<StackLayout>
				<SearchBar hint="find contacts" (clear)="onClear($event)" (textChange)="onTextChange($event)"></SearchBar>
		</StackLayout>
		<ListView [items]="contacts">
			<ng-template let-contact="item" let-index="index">
				<StackLayout>
					<GridLayout rows="auto" columns="auto auto * auto" class="list-item">
						<CheckBox row="0" col="0" #CB1 checked="false" boxType="circle" class="checkbox"></CheckBox>
						<Image row="0" col="1" *ngIf="contact.user.thumbnail" [src]="contact.user.thumbnail" class="thumbnail"></Image>
						<Label row="0" col="1" *ngIf="!contact.user.thumbnail" text="&#xf2be;" class="fa thumbnail-awesome"></Label>
						<GridLayout row="0" col="2" rows="20 18" columns="auto" class="list-item">
							<Label row="0" col="0" [text]="contact.user.name" class="contact-name font-weight-bold"></Label>
							<Label row="1" col="0" text="description for user" class="contact-description"></Label>
						</GridLayout>
					</GridLayout>
				</StackLayout>
			</ng-template>
		</ListView>
	</StackLayout>
</tx-tabview-container>
		

